# Missing Data

In [11]:
#    df.dtypes   df.shape  df.describe()
import pandas as pd
import numpy as np
df = pd.read_csv("data/employees.csv")
# print(df.head(), df.dtypes, df.shape)
# print(df.head(), df.dtypes, df.shape)
df.head()

  First Name  Gender  Salary Bonus % Senior Management             Team
0    Douglas    Male   97308   6.945              TRUE        Marketing
1     Thomas    Male   61933     NaN              TRUE              NaN
2      Maria  Female  130590  11.858             FALSE          Finance
3      Jerry    Male     NaN    9.34              TRUE          Finance
4      Larry    Male  101004   1.389              TRUE  Client Services

In [12]:
df.dtypes

First Name           object
Gender               object
Salary               object
Bonus %              object
Senior Management    object
Team                 object
dtype: object

You would notice that the dtypes of all the columns is object. This shouldn't be the case for Salary, Senior Management and Bonus. This happens because we have **corrupt values in these columns**. Once we handle these missing values, we will convert these to the required type using `.astype()` method.

## How to mark invalid/ corrupt values as missing

Pandas treat None and NaN as essentially interchangeable for indicating missing or null values. Other values like na and ? are not recognized by Pandas by default. Let’s focus on the Salary Column.

In [ ]:
print('Salary')
df['Salary'].head(10)

In the 8th row there’s a missing value and in the 3rd row there is a NA, which Pandas automatically fills with NaN. But what happens with other symbols like ?, n.a., etc. Let's look at the Gender column.

In [ ]:
df['Gender'].head(10)

We notice that n.a. isn't converted to NaN and remains in its original form. 
We can pass these formats in the `.read_csv()` method to allow Pandas to recognize them as corrupt values. Take a look:

In [ ]:
# a list with all missing value formats
missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("employees.csv", na_values = missing_value_formats)

#print gender again
print(df['Gender'].head(10))

Till now, our missing values had unique identifiers which, made them pretty easy to catch. But what happens when we get an invalid data type. I have designed a function that allows me to check for invalid data types in a column.

In [ ]:
import pandas as pd

missing_value_formats = ["n.a.","?","NA","n/a", "na", "--"]
df = pd.read_csv("employees.csv", na_values = missing_value_formats)

def make_int(i):
    try:
        return int(i)
    except:
        return pd.np.nan

# apply make_int function to the entire series using map
df['Salary'] = df['Salary'].map(make_int)
df['Salary'].head()

### Marking missing values using isnull and notnull

In Pandas, we have two functions for marking missing values:   
- `isnull()` function to mark all of the NaN values in the dataset as True  
- `notnull()` to mark all of the NaN values in the dataset as False.

In [ ]:
df['Gender'].isnull().head(10) # NaN values are marked True

In [ ]:
df['Gender'].notnull().head(10) # non-NaN values are marked True

We can use the outputs of the `isnull` and `notnull` function for filtering. Let’s print all those rows of the database for which Gender is not missing.

In [ ]:
# returns True on indices for which Gender is not NaN
null_filter = df['Gender'].notnull()
df[null_filter].head()

### Missing Value Statistics
`isnull` and `notnull` can also be used to summarize missing values. 

To check if there are any missing values in our data frame:

In [ ]:
df.isnull().values.any()

Total number of missing values per column:

In [ ]:
df.isnull().sum()

### How to remove rows with missing values

Pandas library provides the `dropna()` function that can be used to drop either columns or rows with missing data. 

In the example below, we use dropna() to remove all rows with missing data:

In [ ]:
# drop all rows with NaN values
new_df = df.dropna(axis=0)

# check if we have any NaN values in our dataset
new_df.isnull().values.any()

We can also use the `how` parameter.
- `how = 'any'`: at least one value must be null.
- `how = 'all'`: all values must be null.

In [ ]:
# drop all rows with atleast one NaN
new_df = df.dropna(axis = 0, how ='any')  

# drop all rows with all NaN
new_df = df.dropna(axis = 0, how ='all')

# drop all columns with atleast one NaN
new_df = df.dropna(axis = 1, how ='any')

# drop all columns with all NaN
new_df = df.dropna(axis = 1, how ='all')

### Replacing NaNs with a single constant value

We will use `fillna()` to replace missing values in the **Salary** column with 0.

In [ ]:
df['Salary'].fillna(0)

We can also do the same for categorical variables like **Gender**.

In [ ]:
df['Gender'].fillna('No Gender')

### Replacing NaNs with the value from the previous row

This is a common approach when filling missing values in image data. We use `method = 'pad'`. Let us try the same for the Salary Column:

In [ ]:
df['Salary'].fillna(method='pad')

### Replacing NaNs with the value from the next row
We use `method = 'bfill'`.

In [ ]:
df['Salary'].fillna(method='bfill')

### Replacing NaNs using Median/Mean of the column

In [ ]:
# using median
df['Salary'].fillna(df['Salary'].median())

In [ ]:
#using mean
df['Salary'].fillna(int(df['Salary'].mean()))

### Using the replace method
The replace method is a more generic form of the fillna method. Here, we specify both the value to be replaced and the replacement value.

In [ ]:
# will replace NaN value in Salary with value 0  
df['Salary'].replace(to_replace = np.nan, value = 0)

### Using the interpolate method
`interpolate()` function is used to fill NaN values using various interpolation techniques. 

Let us interpolate the missing values using the Linear Interpolation method

In [ ]:
df['Salary'].interpolate(method='linear', direction = 'forward')